#my-skills{
 background-color: #18191f;
 padding: 90px; 
 
}

.my-skills-header{
    position: relative;
    display: grid;
    grid-template-columns:200px 1fr 200px ;
    align-items: start;

}

.my-skills-prefix{
    grid: 1;
    font-size: 1.1rem;
    align-items:center ;
    text-align: center;
    color: #e8a020 ;
}

.my-skills-title{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
    color: white;
}

.skills{
    font-family: 'Space Mono',monospace;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 50px;
    padding-top: 40px;
}

.skills-box{
    background: #18191f;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #252630;
    border-radius: 10px;
    box-shadow:0px 0px 10px rgba(62, 201, 240, 0.2);
    font-size: 11px;
    color: #ffffff;
    transition: 0.3s, 0.3s;
}


.skills-box img{
    align-items: center;
    width: 48px;
    height: 48px;
}

.skills-box:hover{
    transform: translateY(-6px);
     box-shadow: 0px 0px 20px rgba(62, 201, 240, 0.5);
}

