*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #0b0c10 ;
    font-family:'DM SANS', sans-serif ;
    
}

#hero{
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.hero-handball{
    position: absolute;
    top: 50%;
    left: 25%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    background-image: url('Images/Handboll.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to right, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.15) 40%, transparent 70%);
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.15) 40%, transparent 70%);
  
}

#matrixCanvas{
    position: absolute;
    inset: 0;
     mask-image: linear-gradient(to left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 50%, transparent 75%);
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 50%, transparent 75%);

}

.topbar{
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 15px clamp(24px, 8vw, 90px);
  background: rgba(11, 12, 16, 0, 0.88);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-bottom: 1px solid #252630;

  z-index: 1;


}

.nav-signature{
  font-size: clamp(15px, 1.2vw, 13px);
  display: block;
  font-weight: 300;
  line-height: 1;
  color: #e8a020;
  text-shadow: 0 0 5px #e8a020;
}

#right-top a{
  font-size: clamp(15px, 1.2vw, 13px);
  font-weight: 300;
  color: #c5c6d0;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 28px;
}

#right-top a:hover{
  color:#e8a020 ;
}

.hero-content{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(30px, 5vw, 80px);
    width: min(1100px, 90%);
}

.hero-image img{
  width: clamp(150px, 20vw, 360px);
  height: clamp(180px, 22vw,400px );
  border-radius: 16px;
  object-fit: cover;
  border: 1px solid rgba(232, 160, 32, 0.4);
  box-shadow: 0 0 40px rgba(232, 160, 32, 0.25);
}

.hero-info{
  
  max-width: min(600px, 90%);
  text-align: center;
}

.hero-before{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  color: #e8a020;
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  margin-bottom: 14px;
}

.hero-before::before{
  content: '';
  display: inline-block;
  width: 35px;
  height: 1px;
  background: #e8a020;
}

.hero-before::after{
  content: '';
  display: inline-block;
  width: 32px;
  height: 1px;
  background: #e8a020;
}

.hero-firstname{
  display: block;
  font-size: clamp(3rem, 7vw, 6rem);
  font-weight: 600;
  line-height: 1;
  color: #000000;
  text-shadow: 0 0 10px #e8a020 ;
}

.hero-lastname{
  display: block;
  font-size: clamp(3rem, 7vw, 6rem);
  font-weight: 600;
  line-height: 1;
  color: #e8a020;
  text-shadow: 0 0 5px #e8a020 ;
}

.hero-tagline{
  color:#c5c6d0 ;
  font-family: 'DM Sans', sans-serif;
  font-size: clamp(1.3rem, 3vw, 2rem);
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 15px; 
}

.career-titles{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.career-info{
  display: inline-flex;
  align-items: center;
  background: rgba(232, 160, 32, 0.08);
  border: 1px solid rgba(232, 160, 32, 0.2);
  border-radius: 20px;
  padding: 6px 14px;
  font-family: 'Space Mono',monospace;
  font-size: 15px;
  color: #e8a020; 
}

.download-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 6px;
}

.cv-btn{
  margin-top: 24px;
  padding: 12px 28px;
  background: transparent;
  border: 1px solid #e8a020;
  border-radius: 6px;
  color: #e8a020;
  font-family: 'Space Mono', monospace;
  font-size: 0.9rem;
  text-decoration: none;
  

}

.linkedin-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #e8a020;
    border-radius: 6px;
    color: #e8a020;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.5s ease;
    
}

.cv-btn:hover{
  background-color: #e8a020;
  color: #0b0c10;
}

@media (max-width: 1024px) {

  #right-top a {
    margin-left: 12px;
    font-size: 10px;
  }
  .download-cv {
    justify-content: center;
  }

  .hero-content{
    flex-direction: column;
    text-align: center;
  }

}

